*{
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
}

title{
    display: none;
}

body {
    background: url(../assets/metin2-background.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    margin: 0;
    display: flex;
    align-items: center;
}

.container {
    width: 50%;
    min-width: 600px;
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background: rgba(0,0,0, 0.5);
}

.container > h2 {
    margin: 1em 0;
}

.award-list{
    list-style: none;
    width: 100%;
}

.award-item {
    width: 100%;
    text-align: left;
    height: 50px;
    display: flex;
    margin-bottom: 1rem;
}

.award-item:last-child{
    margin-bottom: 0;
}

.award-item_content{
    margin-left: 1em;
    padding: 5px 0;
    flex-grow: 1;
}

.award-item_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.award-item_name > p{
    display: inherit;
    align-items: center;
}

.checked-icon{
    width: 15px;
    margin-right: 3px;
}

.award-item-button{
    color: rgb(217,24,34);
    padding: 3px 15px;
    border: 1px solid rgb(217,24,34);
    background:rgba(217,24,34,0.3);
    font-weight: bolder;
    cursor: pointer;
}

.award-item-button:hover{
    background-color: rgb(217,24,34);
    color: #bbb;
}

.award-item-button:disabled{
    cursor: auto;
    background: transparent;
    color: gray;
    border-color: gray;
}

.award-item_progress-bar{
    height: 0.7em;
    border: 1px solid rgb(103, 50, 50);
    margin-top: 5px;
}

.award-item_progress{
    height: 100%;
    background-color: rgb(69, 32, 32);
}

.complete-progress{
    width: 100%;
    background: rgb(217,24,34);
}

.modal-background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

@keyframes open-modal{
    from{
        min-width: 0px;
        width: 0px;
        visibility: hidden;
    }
    to{
        min-width: 375px;
        visibility: visible;
    }
}

@keyframes close-modal{
    from{
        min-width: 375px;
        visibility: visible;
    }
    to{
        min-width: 0px;
        width: 0px;
        visibility: hidden;
    }
}

.modal{
    padding: 1.5rem;
    background-color: #212121;
    border-bottom: 3px solid rgb(217,24,34);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: display 1.5s;
    min-width: 0px;
    visibility: hidden;
    /*animation: open-modal 0.5s ease-in 0s 1 normal forwards;*/
}

.modal-title{
    text-align: center;
    color: rgb(217,24,34);
    font-size: 25px;
}

.modaal-award_name{
    font-size: 18px;
}

.modal-award_logo{
    width: 65px;
}

.modal-award_logo, .modaal-award_name, .modal-title{
    margin-bottom: 1.5em;
}

.modal-button-list{
    display: flex;
    width: 100%;
    justify-content: center;
}

.modal-button{
    padding: .5em 1.5em;
    border-radius: 10px;
    color: white;
    border: none;
}

.positive-button{
    background-color: rgb(217,24,34);
}

.negative-button{
    background-color: gray;
    margin-left: 1em;
}

@media (max-width: 600px){
    .container{
        width: 100%;
        min-width: 375px;
    }
}